body{
    background-image: url("../imagenes/fondo.jpg");
    margin: 0;
}

h1{
    font-family: 'pacifico', cursive;
    text-align: center;
    color:rgb(138, 209, 233);
}
.welcomeForm{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: bisque;
    border: solid black 10px;
    border-radius: 10px;
  
    .saludo{
        text-align: center;
        font-family:'mali',cursive;
    }
    .dificultades{
        text-align: center;
        font-family:'mali',cursive;
    }
}

.botones{
    .levels{
        background-color: rgb(255, 196, 2);
        color: white;
        font-size: 20px;
        border-radius: 5px;
        width: 100%;
        font-family: 'mali',cursive;
    }
}

#ups{
    color:red;
    font-family: 'mali',cursive;
}
section{
    margin: auto;
    width: 1000px;
    height: 900px;
    margin-top: 20px;
    border: solid black 10px;
    border-radius: 8px;
    background-color: rgba(255, 228, 196, 0.685);
    text-align: center;

    .imagenes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px;
        .pieza-div{
            width: 20%;
            height: 200px;
            margin:2px;
            
            img{
                width: 100%;
                border: solid rgb(255, 196, 2) 2px;
            }
            .correct{
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
    }    
}

.hidden{
    display:none
}