@mixin fontMemo() {
    font-family: 'pacifico', cursive;
    text-align: center;
    color: rgb(65, 187, 228);
}


body{
    background-image: url("../imagenes/fondo.jpg");
    margin: 0;
}

h1{
    @include fontMemo();
}
.welcomeForm{
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: bisque;
    border: solid black 10px;
    border-radius: 10px;
    
    input{
        margin: 2px 10px 2px 10px;
        border-color: fuchsia;
    }
    .saludo{
        text-align: center;
        font-family:'mali',cursive;
    }
    .dificultades{
        text-align: center;
        font-family:'mali',cursive;
    }
}

.hide{
    display:none
}

.botones{
    margin: 2px 10px 2px 10px;
    .levels{
        background-color: rgb(255, 196, 2);
        color: white;
        font-size: 19px;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        font-family: 'mali',cursive;
    } 
}

.ups{
    color:red;
    font-family: 'mali',cursive;
}

.memo {
    @include fontMemo();
    font-size: 30px;
}

.dificultnum{
    color: rgb(65, 187, 228);
    font-weight: bold;
}
section{
    margin: auto;
    width: 1050px;
    height: 950px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 10px;
    border-radius: 8px;
    background-color: rgba(255, 228, 196, 0.575);
    text-align: center;
    font-family: 'mali',cursive;
    font-size: medium;

    .imagenes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px;
        .pieza-div{
            width: 20%;
            height: 200px;
            margin:2px;
            
            img{
                width: 100%;
                border: solid rgb(255, 196, 2) 2px;
            }
            .correct{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
    }    
}

.intentos{
    border: solid rgb(65, 187, 228) 4px;
    width: 900px;
    margin: auto;
    background-color: rgba(245, 245, 220, 0.658);
   
}